<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ToDoProyect.Properties.Settings.ToDoProyectConnectionString"
            connectionString="Data Source=LAPTOP-P6SV6G8N;Initial Catalog=ToDoProyect;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="ToDoProyect.Properties.Settings.TrelloProyectDBConnectionString"
            connectionString="Data Source=BLOSSPC;Initial Catalog=TrelloProyectDB;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>